<!DOCTYPE html>
<html>
   <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block title %}
    {% endblock title %}
  </head>
  <body>
    <div class="row w-100 vh-100">
      <div class="d-flex flex-column flex-shrink-0 p-4 bg-light" style="width: 280px;">
        <a href="/" style="font-size: 1.5rem;" class="d-flex align-items-center pl-4 mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          My Contacts
        </a>
        <hr/>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item pl-4">
            <a href="{% url 'contactList' %}" class="nav-link link-dark" aria-current="page">
              Home
            </a>
          </li>
          <li class="nav-item pl-4">
            <a href="{% url 'useTools' %}" class="nav-link link-dark">
              Tools
            </a>
          </li>
        </ul>
        <hr />
      </div>
    
      <div class="container pt-4">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

  </body>
</html>