{% extends 'base.html' %}

{% block title %}
    <title>Tools</title>
{% endblock title %}

{% block content %}
<h2 class="text-center p-1 text-primary">Tools</h2>
<hr/>

<div class="p-3">
    <h3 class="text-left mb-4 text-secondary">Compare Contacts</h3>

    <form action="{% url 'useTools' %}" method="get">    
        <div class="form-group">
            <p id="compareHelp" class="form-text mb-4 font-italic">This tool compares the profession and numbers of two contacts</p>
            <div class="d-flex">
                <div class="mr-5" style="width: 18rem;">
                    <label for="contact1">Contact 1</label>
                    <input type="text" class="form-control" id="contact1" name="contact1" aria-describedby="contact1" placeholder="Enter name" required>
                </div>
                <div class="mr-5" style="width: 18rem;">
                    <label for="contact1">Contact 2</label>
                    <input type="text" class="form-control" id="contact2" name="contact2" aria-describedby="contact2" placeholder="Enter name" required>    
                </div>    
                <button class ="btn btn-primary align-self-end h-50" type="submit" name= "submit_button" id= "submit_button">Compare</button>    
            </div>  
        </div>
        <br/>
    </form>

    {% if contact1 is not None and contact2 is not None %}
        <div class="d-flex flex-wrap mt-3 mb-4">
            <div class="card mr-5" style="width: 18rem;">
                <div class="card-body">       
                    <h5 class="card-title mb-3">{{ contact1.name }}</h5>
                    <p class="card-text"><span class="font-weight-bold">Profession:</span> {{ contact1.profession }}</p>
                    <p class="card-text"><span class="font-weight-bold">Tel Number:</span> {{ contact1.telephonNumber }}</p>
                    <p class="card-text"><span class="font-weight-bold">Mob Number:</span> {{ contact1.mobileNumber }}</p>
                </div>
            </div>
            <div class="card mr-5" style="width: 18rem;">
                <div class="card-body">       
                    <h5 class="card-title mb-3">{{ contact2.name }}</h5>
                    <p class="card-text"><span class="font-weight-bold">Profession:</span> {{ contact2.profession }}</p>
                    <p class="card-text"><span class="font-weight-bold">Tel Number:</span> {{ contact2.telephonNumber }}</p>
                    <p class="card-text"><span class="font-weight-bold">Mob Number:</span> {{ contact2.mobileNumber }}</p>
                </div>
            </div>
                <p class="font-weight-bold {% if isMatch%}text-success{% else %}text-danger{% endif %} align-self-center"
                    style="font-size: 1.25rem;">
                    {% if isMatch%}
                        It's a Match!
                    {% else %}
                        No Match
                    {% endif %}
                </p>
        </div>
        
        <hr/>
    {% endif %}
</div>

{% endblock content %}
